
@font-face {
  font-family: "font-1";
  src: url(/Styles/assets/Font/Merriweather/Merriweather-Regular.ttf);}

@font-face {
  font-family: "font-2";
  src: url(/Styles/assets/Font/Merriweather/Merriweather-Bold.ttf); }
    
  

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$color-1: white;
$color-2: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body { 
  background: url(/Styles/assets/images/bg.jpg)  center fixed ; 
  font-family: "font-1";
  min-height: 100vh;
  text-align: center;
 
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #1e252d;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.3s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }

}
